.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  background-image: url("https://img.freepik.com/free-photo/view-chess-pieces-with-dramatic-mystical-background_23-2150844729.jpg?semt=ais_hybrid");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

